# Ignorar dependencias (GitHub las descarga luego solo)
node_modules/
vendor/

# Ignorar archivos de configuración personal
.env
backend/.env
frontend/.env.local
.htaccess

# Ignorar archivos de log y temporales
*.log
dist/
.DS_Store